@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2-subset/Pretendard-Regular.subset.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff-subset/Pretendard-Regular.subset.woff)
      format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2-subset/Pretendard-Bold.subset.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff-subset/Pretendard-Bold.subset.woff)
      format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2-subset/Pretendard-ExtraBold.subset.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff-subset/Pretendard-ExtraBold.subset.woff)
      format("woff");
}

/* reset css **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.1s linear;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  overflow: hidden;
}

:root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root::-webkit-scrollbar {
  display: none;
}

body.dark {
  background-color: #151515;
  color: #ffffff;
}
