---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import { Content as AboutContent, getHeadings } from '../content/bio/about.mdx';
import components from '../markdown-components/components';
import InteractiveToc from '../components/InteractiveToc.astro';

---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title="공재혁" description="공재혁 블로그" />
	</head>
	<body>
    <div id="root">
      <main>
        <BlogHeader />
        <AboutContent components={components} />
        <BlogFooter />
      </main>
      <InteractiveToc headings={getHeadings()} />
    </div>
  </body>
</html>
