---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import TimeStamp from '../components/TimeStamp.astro';
import { getCollection } from 'astro:content';

const essays = await getCollection('essays')
	.then((essays) => essays.sort((a, b) => new Date(b.data.publishedDate).getTime() - new Date(a.data.publishedDate).getTime()));
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title="jaaack.dev" description="공재혁 블로그" />
	</head>
	<body>
		<main>
			<BlogHeader />
			<ul>
				{essays.map((essay) => (
					<li>
						<a href={`/${essay.slug}`}>
							<span>{essay.data.title}</span>
							<TimeStamp date={essay.data.publishedDate}/>
						</a>
					</li>
				))}
			</ul>
			<BlogFooter />
		</main>
	</body>
</html>
<style is:global>
	main {
	  max-width: 624px;
	  margin: 0 auto;
	  padding: 60px 24px;
	}

	ul {
		margin-block-start: 24px;
		padding-inline-start: 0;
		list-style: none;
	}

	li a {
		display: inline-block;
		height: 44px;
		padding-block: 12px;
	}

	li span {
		color: var(--color-primary);
		font-size: 16px;
		margin-inline-end: 4px;
		vertical-align: middle;
	}

</style>