---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import TimeStamp from '../components/TimeStamp.astro';
import { getCollection } from 'astro:content';

const essays = await getCollection('essays');
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title="jaaack.dev" description="공재혁 블로그" />
	</head>
	<body>
		<main>
			<BlogHeader />
			{essays.map((essay) => (
				<a href={`/${essay.slug}`}>
					<section>
						<span>{essay.data.title}</span>
						<TimeStamp date={essay.data.publishedDate}/>
					</section>
				</a>
			))}
		</main>
	</body>
</html>
<style is:global>
	main {
		max-width: 624px;
		margin: 0 auto;
		padding: 60px 24px 24px;
	}

	section {
		height: 48px;
		padding-block: 12px;
		padding-inline-start: 4px;
	}

	section span {
		font-size: 18px;
		vertical-align: middle;
	}

	section time {
		font-size: 12px;
		margin-inline-start: 4px;
		vertical-align: bottom;
	}
</style>