---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title="jaaack.dev" description="공재혁 블로그" />
	</head>
	<body>
		<main>
			<BlogHeader />
		</main>
	</body>
</html>
<style>
	main {
		width: 624px;
		margin: 0 auto;
		padding: 24px;
	}
</style>