---
import github from "../assets/github.svg?raw";
import email from "../assets/email.svg?raw";
import rss from "../assets/rss.svg?raw";
import ThemeButton from "./ThemeButton.tsx";
---
<header>
	<span>Jaaack</span>
	<nav>
		<ThemeButton client:only="preact" />
	</nav>
</header>
<style>
	header {
		display: flex;
		margin-block-end: 12px;
	}

	span {
		font-size: 24px;
		font-weight: 700;
		color: var(--color-primary);
		user-select: none;
	}

	nav {
		display: flex;
		gap: 12px;
		margin-left: auto;
	}
</style>
