---
import github from "../assets/github.svg?raw";
import ThemeButton from "./ThemeButton.tsx";
import EmailButton from "./EmailButton.tsx";
---
<header>
	<a href="/" class="blog-title">
		<span>Jaaack</span>
	</a>
	<nav>
		<ThemeButton client:only />
		<a href="https://github.com/0jaaack" class="icon-button" target="_blank" rel="noopener noreferrer">
			<Fragment set:html={github} />
		</a>
		<EmailButton client:only />
	</nav>
</header>
<style>
	header {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
	}

	.blog-title {
		font-size: 24px;
		font-weight: 700;
	}

	nav {
		display: flex;
		gap: 12px;
		margin-left: auto;
	}
</style>
