---
import ThemeButton from "./ThemeButton.tsx";

const { pathname } = Astro.url;
---
<header>
	<h1>Jaaack</h1>
	<nav>
		<a href="/" aria-current={pathname === '/' ? 'page' : 'false'}>posts</a>
		<a href="/about" aria-current={pathname.startsWith('/about') ? 'page' : 'false'}>about</a>
		<ThemeButton client:only="preact" />
	</nav>
</header>
<style>
	header {
		display: flex;
		margin-block-end: 12px;
		height: 40px;
	}

	h1 {
		font-size: 28px;
		font-weight: 700;
		color: var(--color-primary);
		user-select: none;
	}

	nav {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-left: auto;
	}

	a {
		background: none;
		border: none;
		color: var(--color-tertiary);
		cursor: pointer;
	}

	a[aria-current="page"] {
		color: var(--color-secondary);
	}
</style>
