---
import github from "../assets/github.svg?raw";
import ThemeButton from "./ThemeButton.tsx";
import EmailButton from "./EmailButton.tsx";
---
<header>
	<a href="/" class="blog-name">
		<span>Jaaack</span>
	</a>
	<nav>
		<ThemeButton client:only />
		<EmailButton client:only />
		<a href="https://github.com/0jaaack" target="_blank" rel="noopener noreferrer">
			<Fragment set:html={github} />
		</a>
	</nav>
</header>
<style is:global>
	header {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
	}

	.blog-name {
		font-size: 24px;
		font-weight: 700;
	}

	nav {
		display: flex;
		gap: 20px;
		margin-left: auto;
	}

	nav a, nav button {
		display: inline-block;
		width: 36px;
		height: 36px;
		padding: 8px;
	}

	body.dark nav img {
		filter: invert(1);
	}
</style>
