---
import ThemeButton from "./ThemeButton.tsx";
---
<header>
	<h1>
		<a href="/" target="_self" rel="noopener noreferrer">
			Jaaack
		</a>
	</h1>
	<nav>
		<ThemeButton client:only="preact" />
	</nav>
</header>
<style>
	header {
		display: flex;
		margin-block-end: 12px;
		height: 40px;
	}

	h1 {
		font-size: 28px;
		font-weight: 700;
		color: var(--color-primary);
		user-select: none;
	}

	nav {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-left: auto;
	}
</style>
