---
const props = Astro.props;
---

<a target="_blank" {...props} rel="noopener noreferrer">
  <slot />
</a>
<style>
  a {
    color: var(--color-primary);
    text-decoration: underline;
  }
</style>